﻿@model Adelphatimer1._0.Models.Tasks

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimateStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimateStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimateEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimateEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoneWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoneWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnabledRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnabledRow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resources.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resources.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sprints.SprintName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sprints.SprintName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stories.StoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stories.StoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
