﻿@model IEnumerable<Adelphatimer1._0.Models.Tasks>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Tasks</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">


                        <table id="datatable-keytable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TaskName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TaskDescription)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EstimateStartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EstimateEndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EstimatedWork)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DoneWork)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EnabledRow)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CurrentDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TaskNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Done)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Resources.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Sprints.SprintName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Stories.StoryName)
                                    </th>
                                   
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EstimateStartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EstimateEndDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EstimatedWork)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DoneWork)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EnabledRow)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Done)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Resources.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sprints.SprintName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Stories.StoryName)
                                        </td>
                                      
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
