﻿@model Adelphatimer1._0.Models.Projects

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advancement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advancement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EcartCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcartCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EcartDuree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcartDuree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnabledRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnabledRow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsors.SponsorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsors.SponsorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
