﻿@model IEnumerable<Adelphatimer1._0.Models.Projects>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>All<small>Project</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
               
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                      

                        <table id="datatable-keytable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Projet")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Project Description")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Manager)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PlannedStartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PlannedEndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PlannedWork)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ActualWork)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ToDo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FTE)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateEndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Advancement)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EcartCharge)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EcartDuree)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Statute)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Drive)
                                    </th>
                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProjectNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Sponsors.SponsorName)
                                    </th>
                                    <th>
                                        @Html.DisplayName("Links")
                                    </th>
</thead>


                            <tbody>
                              @foreach (var item in Model)
                              {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Manager)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlannedStartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlannedEndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlannedWork)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActualWork)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToDo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FTE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateEndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Advancement)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EcartCharge)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EcartDuree)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Statute)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Drive)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sponsors.SponsorName)
                                    </td>
                                 <td>
                                     @Html.ActionLink("Stories", "Index", "Stories", new { id = item.Id } , new { }) |
                                 </td>
                                </tr>
                              }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
