﻿@model Adelphatimer1._0.Models.Stories

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialEstimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialEstimate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demonstrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demonstrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnabledRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnabledRow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resources.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resources.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
