﻿@model IEnumerable<Adelphatimer1._0.Models.Stories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>All<small>Project</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">


                        <table id="datatable-keytable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StoryName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Importance)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InitialEstimate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Demonstrate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Notes)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RequestDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RequestBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValidateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValidateBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EnabledRow)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CurrentDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StoryNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Categories.CategoryName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Projects.ProjectName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Resources.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayName("Links")
                                    </th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Importance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InitialEstimate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Demonstrate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Notes)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequestDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequestBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValidateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValidateBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EnabledRow)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StoryNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Projects.ProjectName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Resources.FirstName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Tasks", "Index", "Tasks", new { id = item.Id }, new { })

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
