﻿@model IEnumerable<Adelphatimer1._0.Models.Teams>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>All<small>Project</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">


                        <table id="datatable-keytable" class="table table-striped table-bordered">
                            <thead>

                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TeamName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EnabledRow)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CurrentDate)
                                    </th>
                                    <th>
                                        @Html.DisplayName("Links")
                                    </th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TeamName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EnabledRow)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentDate)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Resources", "Index", "Resources", new { id = item.Id }, new { })

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

