﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AdelphaTimer!</title>
    <!-- Bootstrap -->
    <link href="~/fonts/bootstrap.min.css.map" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/fonts/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/fonts/green.css" rel="stylesheet">
    <link href="~/fonts/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/fonts/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/fonts/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/fonts/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/fonts/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @Html.ActionLink("Adelph@Timer", "Index", "Home", new { }, new { @class = "site_title" })
                      
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Images/Timer-Fin.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                       @*   <h2>John Doe</h2>*@  
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                         
                            <ul class="nav side-menu">
                                <li>
                                    @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "fa fa-home" })



                                </li>

                                <li>
                                    <a><i class="fa fa-desktop"></i>Projects <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                                        <li>@Html.ActionLink("Stories", "Index", "Stories")</li>
                                        <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
                                       
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-sitemap"></i> Resources <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                                        <li>@Html.ActionLink("Resources", "Index", "Resources")</li>
                                        
                                        
                                    </ul>
                                </li>
                               
                              
                            </ul>
                        </div>
                        

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                               
                                @Html.ActionLink("Logout", "Logout", "Home", new { }, new { @class = "user-profile dropdown-toggle" })


                                </a>
                                
                            </li>

                           
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                @RenderBody()


            </div>

            <!-- footer content -->
            <footer>

                <div class="pull-right">
                    Â©2017 All Rights Reserved. AdelphaTimer! is a Atelphatech. Privacy and Terms
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

@RenderSection("scripts", required: false)

    <!-- jQuery -->
    <script src="~/scripts/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/scripts/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/scripts/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/scripts/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/scripts/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/scripts/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->


    <!-- Datatables -->
 
<script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/scripts/dataTables.buttons.min.js"></script>
    <script src="~/scripts/buttons.bootstrap.min.js"></script>
    <script src="~/scripts/buttons.flash.min.js"></script>
    <script src="~/scripts/buttons.html5.min.js"></script>
    <script src="~/scripts/buttons.print.min.js"></script>
    <script src="~/scripts/dataTables.fixedHeader.min.js"></script>
    <script src="~/scripts/dataTables.keyTable.min.js"></script>
    <script src="~/scripts/dataTables.responsive.min.js"></script>
    <script src="~/scripts/responsive.bootstrap.js"></script>
    <script src="~/scripts/dataTables.scroller.min.js"></script>

    <script src="~/scripts/jszip.min.js"></script>
    <script src="~/scripts/pdfmake.min.js"></script>
    <script src="~/scripts/vfs_fonts.js"></script>




    <script src="~/scripts/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/scripts/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/scripts/skycons.js"></script>
    <!-- Flot -->
    <script src="~/scripts/jquery.flot.js"></script>
    <script src="~/scripts/jquery.flot.pie.js"></script>
    <script src="~/scripts/jquery.flot.time.js"></script>
    <script src="~/scripts/jquery.flot.stack.js"></script>
    <script src="~/scripts/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/scripts/jquery.flot.orderBars.js"></script>
    <script src="~/scripts/jquery.flot.spline.min.js"></script>
    <script src="~/scripts/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/scripts/date.js"></script>
    <!-- JQVMap -->
    <script src="~/scripts/jquery.vmap.js"></script>
    <script src="~/scripts/jquery.vmap.world.js"></script>
    <script src="~/scripts/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/scripts/moment.min.js"></script>
    <script src="~/scripts/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/scripts/custom.min.js"></script>

</body>
</html>

