﻿@model IEnumerable<Adelphatimer1._0.Models.Resources>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>All<small>Project</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">


                        <table id="datatable-keytable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BirthDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EnrollmentDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LoginMail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Passwords)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EnabledRow)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CurrentDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Initials)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RolesResources.RoleResourceName)
                                    </th>
                                    <th>
                                        @Html.DisplayName("Links")
                                    </th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BirthDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EnrollmentDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoginMail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Passwords)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EnabledRow)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Initials)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RolesResources.RoleResourceName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Tasks", "resourcesTasks", "Tasks", new { id = item.Id }, new { }) |

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

