﻿@model AdelphaTimer1._0.ViewModels.ResourcesLoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;

}


    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AdelphaTimer! | </title>

        <!-- Bootstrap -->

        <link href="~/fonts/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/fonts/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/fonts/nprogress.css" rel="stylesheet">
        <!-- Animate.css -->
        <link href="~/fonts/animate.min.css" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="~/fonts/custom.min.css" rel="stylesheet">
    </head>

    <body class="login">
        <div>
            <a class="hiddenanchor" id="signup"></a>
            <a class="hiddenanchor" id="signin"></a>

            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <h1>Login Form</h1>
                            <div>
                                @Html.EditorFor(model => model.LoginMail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LoginMail, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "Password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            </div>
                            <div>
                                <input type="submit" value="Sign In" class="btn btn-success" />
                                <a class="reset_pass" href="#">Lost your password?</a>

                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">


                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h1><i class="fa"></i> AdelphaTimer!</h1>
                                    <p>Â©2017 All Rights Reserved. AdelphaTimer! is a Atelphatech. Privacy and Terms</p>
                                </div>
                            </div>
                        </form>
                    }
                    </section>
                </div>

            </div>
        </div>
    </body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

